
/* Note- Default browser spacing looks fine; no changes needed */
header h1 {
  margin-bottom: 5px;
  color: black;
}

header h2 {
  margin-bottom: 10px;
  color: #555;
  font-weight: 700;
}

header p {
  margin-bottom: 8px;
  line-height: 1.4;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.tagline {
  font-style: italic;
  color: #444;
  letter-spacing: 0.5px;
  font-size: 0.95rem;
}